* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

a {
    color: black;
    text-decoration: none;
}


nav ul {
    display: flex;
    min-height: 10vh;
    padding: 2rem;
    justify-content: space-around;
    align-items: center;
}

.hero {
    min-height: 90vh;
    background-image: url('/freelancer.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h2 {
    text-align: center;
    margin: 2rem;
}

.hero button {
    padding: 1rem 2rem;
    background: rgb(73, 226, 175);
    border: none;
    border-radius: 1rem 2rem;
}

img {
    height: 20rem;
}

.intro {
    display: flex;
    flex-wrap: wrap;
}

.intro img {
    flex: 1 1 20rem;
    background-color: lightblue;
    max-width: 50rem;
}

.intro-text {
    flex: 1 1 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro-text h2 {
    padding: 2rem;
}

.intro-text p {
    padding: 1rem;
}